<div>
  <h1 style="text-align: center;">
    אודות
  </h1>
  <p style="text-align: right;direction: rtl;">
    "מי זה מה זה", הינה אפליקציה שנוצרה בהאקטון בבית החולים סורוקה.
    מטרתינו לייצר סביבה ידידותית ולאפשר לילדים להתחבר לציוד ולאנשים בבית החולים בצורה מסקרנת וכיפית.
  </p>
  <h2 style="text-align: center;">
    הקבוצה
  </h2>
  <p style="text-align: right;direction: rtl;">
    יוסי עינב, יהונתן זומר, עידו קסלר, ד"ר מנור שפריץ, ליאת טודריס, רויטל גוטרמן, קלאודיו אלתר, אנדי פלקון, סטאס ריבקין.
  </p>
</div>
