.about {
  padding: 30px;
  position: relative;
  top: 30px;
  font-family: 'Open Sans Hebrew';
  line-height: 1.5;
}

h2,h1{
  margin-top: 15px;
}

.team {
  width: 100%;
  margin-top: 20px;
  display: block;
}
