@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */

.mat-tab-labels {
  justify-content: center;
}

.main {
  height: calc(100vh - 62px);
  position: relative;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}
