mat-tab-group {
  position: absolute;
  bottom: 0;
}

.main-menu {
  //position: absolute;
  //left: 20px;
  background: white;
}

.main {
  background-image: url('../assets/bg.jpg');
  background-size: cover;
}

p {
  font-family: 'Open Sans', sans-serif;
}
