<div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>

  <button class="main-menu" mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
    Menu
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <a routerLink="/employees"  mat-menu-item routerLinkActive="active">הצוות המטפל</a>
    </button>
    <button mat-menu-item>
      <a routerLink="/video-game"  mat-menu-item routerLinkActive="active">גלה את החפצים סביבך</a>
    </button>
    <button mat-menu-item>
      <a routerLink="/about-us"  mat-menu-item routerLinkActive="active">אודות</a>
    </button>
  </mat-menu>
</div>
