@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);

mat-tab-group {
  position: absolute;
  bottom: 0;
}

.main-menu {
  //position: absolute;
  //left: 20px;
  background: white;
}

.main {
  background-image: url('../assets/bg.jpg');
  background-size: cover;
}

p, button, a {
  font-family: 'Open Sans Hebrew', sans-serif;
}
